.footer {
    padding-top: 97px;
}

/* 1.LINK SLIDER START */

.footer__slider-wrapper.container {
    position: relative;
    text-align: center; 
    padding-top: 30px;
    padding-bottom: 34px;
}

.footer__slider {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    min-width: 0; 
}


.footer__slider .slick-arrow:not(.slick-disabled) {
    cursor: none !important; 

    transition: var(--animation);
} 

.footer__slider .slick-list {
    margin: 0 auto;
}

.footer__slider .slick-arrow {
    width: 50px;
    height: 50px;
    position: absolute;

    font-size: 0px;

    background: url('../images/slider-cursor.svg') center/cover no-repeat;
    border-radius: 50%;
    border: 0px;  
    opacity: 0;
    transition: var(--animation);
    z-index: 10;
}

.footer__slider a {
    transition: var(--animation);
}

.footer__slider a:hover {
    font-weight: bold;
}

.footer__slider .slick-arrow.slick-prev {
    background: url('../images/slider-cursor-prev.svg') center/cover no-repeat;
    
}

.footer__slider .slick-arrow:not(.slick-disabled):hover  {
    opacity: 1;
}


.footer__slider-arrow {
    display: none;
    width: 150px;
    height: 100px;
    top: 0;
    position: absolute;

    background-color: red;
}

.footer__slider-next {
    right: 0;
}


.footer__slider .slick-arrow.slick-next {
    right: 0;
}

.footer__slider .slick-arrow.slick-prev {
    left: 0;
}

.footer__slider a {

}

/* 1.LINK SLIDER END */

/* 2.FOOTER LOGO START */

.footer__logo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1px;
    border-top: 1px solid var(--silver);
    margin-bottom: 35px;
}

.footer__logo a {
    display: block; 
    position: relative;
}

.footer__logo a::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid var(--silver);
    background: #fff;
    display: block;
    left: 36px;
    top: -12px;
    z-index: 10;
}

.footer__logo a img {
    z-index: 11;
    position: relative;
    display: block;
}

.footer__logo-p.common-p {
    font-size: 13px;
    color: #312171;
}
/* 2.FOOTER LOGO END */

/* 3.FOOTER COLUMN MENU START */

.footer__column-menu.container {
    display: flex;
    align-items: stretch;
    width: 66%;
    max-width: 1300px;

}

.footer__column-h1 {
    margin-bottom: 10px;

    font-size: 16px;
    font-family: var(--bold);

    text-transform: uppercase;
    color: var(--colored-4);
    line-height: 150%;
}

.footer__column-menu li a{
    display: block;

    font-size: 16px;
     
    color: var(--lighter-text);
    transition: var(--animation);
    line-height: 150%;
}

.footer__column-menu li a:hover {
    text-shadow: var(--text-shadow);
}

.footer__column-wrapper {
    width: 100%;
    padding: 0 40px;

    border-right: 1px solid var(--colored-4);
}

.footer__column-wrapper:last-child {
    border-right: 0px;
}

/* 3.FOOTER COLUMN MENU END */

/* 4.FOOTER ROW MENU START */

.footer__row-menu {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 40px;
    padding: 12px 0;

    border-top: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
}

.footer__row-menu li {
    margin: 16px;
}

.footer__row-menu li a {
    display: block;

    font-size: 16px;
    
    text-decoration: underline;
    color: var(--lighter-text);
    text-align: center;
    line-height: 150%;
    transition: var(--animation);
}

.footer__row-menu li a:hover {
    text-shadow: var(--text-shadow);
}

/* 4.FOOTER ROW MENU END */

/* 5.FOOTER SOCIAL START */

.footer__social {
    margin-top: 24px;
}

.footer__social .common-h3 {
    font-size: 16px;
    font-family: var(--regular);

    text-align: center;
}

.footer__social-list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 11px;
    margin-bottom: 35px;
}

.footer__social-list a {
    display: block;
    width: 35px;
    margin: 0 7px;
}

.footer__social-list img {
    width: 100%;
}

/* 5.FOOTER SOCIAL END */

/* 6.MEDIA START  */

/* 1200px */ 
@media (max-width: 1200px) {
    .footer__column-menu.container {
        width: 80%;
    }
}


/* 1025px */
@media (max-width: 1025px) {
    .footer__column-menu.container {
        flex-direction: column;

        text-align: center;
    }

    .footer__column-wrapper {
        padding: 20px 0;
        position: relative;

        border: 0px;
    }

    .footer__column-wrapper:not(:last-child):after {
        content: ' ';
        width: 80px;
        height: 1px;
        position: absolute;
        bottom: 0;
        left: calc(50% - 40px);

        background-color: var(--colored-4);
    }

    .footer__row-menu {
        align-items: center;
        flex-direction: column;
    }

    .footer__row-menu li {
        margin: 5px 0;
    }
}

/* 6.MEDIA END */
