/* 1.TOP MENU START */

.header__top {
    width: 100%;

    background-color: var(--bean-blue);
}

.header__top .container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 30px;
}

.header__top .header__top-li > a {
    display: flex;
    align-items: center;

    font-size: 12px;

    color: #fff;
}

.header__top .header__top-li {
    margin-right: 22px;
}

.header__top-parent {
    display: flex;
    align-items: center;
}

.header__top-parent a::after {
    content: '';
    width: 5px;
    height: 5px;
    margin-left: 6px;
    margin-top: -3px;

    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    transform: rotate(135deg);
    transition: all 0.3s ease-in-out;
}

.header__top-li a:hover {
    font-family: var(--bold);
}

/* 1.TOP MENU END */