/* 1.TOP MENU START */

.header {
    width: 100%;
    z-index: 999;
    position: fixed;
    top: 0;
}

.header__top {
    width: 100%;

    background-color: var(--bean-blue);
    position: relative;
}

.header__top > .container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 30px;
}

.header__top .header__top-li > a {
    display: flex;
    align-items: center;
    height: 30px;

    font-size: 12px;

    color: #fff;
}

.header__top .header__top-li:first-child {
    margin-right: 22px;
}

.header__top-parent {
    display: flex;
    align-items: center;
}

.header__top-parent > a::after {
    content: '';
    width: 5px;
    height: 5px;
    margin-left: 6px;
    margin-top: -3px;

    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    transform: rotate(135deg);
    transition: all 0.3s ease-in-out;
}

.header__top-li a:hover {
    font-weight: bold;
}

.search__loupe {
    display: block;
    
    padding-left: 10px;
}

/* 1.1.HEADER TOP SUBMENU START */

.header__top-submenu { 
    position: fixed;
    padding: 35px 0;
    top: -240px;
    left: 0;
    width: 100%;

    z-index: 102;
    background: #fff;
    transition: all .4s linear;
}

.header__top-parent:hover > .header__top-submenu {
    top: 30px;
}

.header__top-submenu .container {
    display: flex;
    align-items: center;
}

.header__mobile-you-btn .container { 
    padding-bottom: 110px;
}

.header__mobile-you-btn .header__mobile-submenu-head a {
    font-size: 26px;
    font-family: var(--bold);

    text-transform: uppercase;
    color: var(--lighter-text);
}

.header__top-submenu li,
.header__mobile-you-btn li {
    display: block;
    position: relative;
    width: 25%;
    height: 147px;
    margin-right: 22px;
}

.header__mobile-you-btn li {
    margin: 10px 0;
    height: 107px;
    width: 100%;
}

.header__mobile-submenu.header__mobile-you-submenu li a {
    margin: 0;

    font-size: 20px;

    color: #fff;
}

.header__mobile-submenu.header__mobile-you-submenu .container {
    overflow-y: auto;
}

.header__top-submenu li img,
.header__mobile-you-btn li img {
    object-fit: cover;
}

.header__top-submenu li a,
.header__mobile-you-btn li a{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    font-size: 20px;

    color: #fff;
    background-color: rgba(114, 114, 114, 0.45);
}

.header__top-submenu li:nth-child(1),
.header__mobile-you-btn li:nth-child(1) {
    background: url('../images/header-top-1.png') center/cover no-repeat;
}

.header__top-submenu li:nth-child(2),
.header__mobile-you-btn li:nth-child(2) {
    background: url('../images/header-top-2.png') center/cover no-repeat;
}

.header__top-submenu li:nth-child(3),
.header__mobile-you-btn li:nth-child(3) {
    background: url('../images/header-top-3.png') center/cover no-repeat;
}

.header__top-submenu li:nth-child(4),
.header__mobile-you-btn li:nth-child(4) {
    background: url('../images/header-top-4.png') center/cover no-repeat;
}

.header__top-submenu li:nth-child(5),
.header__mobile-you-btn li:nth-child(5) {
    background: url('../images/header-top-5.png') center/cover no-repeat;
}

.header__top-submenu li:last-child,
.header__mobile-you-btn li:last-child {
    margin: 0;
}

/* 1.1.HEADER TOP SUBMENU END */

/* 1.TOP MENU END */

/* 2.MAIN NAV MENU START */

.header__nav > .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;

    z-index: 100;
}

.header__nav {
    position: relative;
    width: 100%;

    box-shadow: var(--box-shadow);
    background-color: #fff;
}

.header__menu {
    display: flex;
    justify-content: flex-end;
    height: 100%;
    align-items: center;
}

.header__menu > li {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.header__parent::after {
    content: ' ';
    display: block;
    width: 1px;
    height: 25px;

    background-color: var(--silver);
}

.header__parent > a {
    padding: 0 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-size: 14px;

    color: var(--lighter-text);
}

.header__parent > a:hover {
    text-shadow: var(--text-shadow) ;
}

.header__logo {
    display: block;
    position: relative;
    width: 130px;
    z-index: 1;
}

.header__logo img {
    width: 100%;
}

.header__logo::after {
    content: '';
    z-index: -1;
    position: absolute;
    background: #fff;
    border-radius: 50%;
    left: 39px;
    top: -8px;
    width: 28px;
    height: 29px;
}

/* 2.1.MAIN NAV SUBMENU START */

.header__submenu {
    position: absolute;
    top: -150%;
    /* top: 60px; */
    left: 0;
    width: 100%;
    z-index: -2;

    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    transition: var(--animation);
}

.header__parent:hover > .header__submenu {
    top: 60px;

    opacity: 1;
    visibility: visible;
}

a.header__submenu-h1 {
    margin-top: 50px;
    display: block;

    font-size: 28px;
    font-family: var(--bold);

    text-transform: uppercase;
    color: var(--lighter-text);
}

.header__submenu-ul {
    display: flex;
    align-items: flex-start;
    margin-top: 26px;
}

.header__submenu-ul > div {
    width: 50%;
    padding-left: 20px;
    border-left: 1px solid var(--lighter-text);
}

.header__submenu-ul > div a {
    margin-right: 15px;
    
    font-size: 16px;

    color: var(--lighter-text);
    line-height: 150%;
}

.header__submenu-ul > div li:not(:first-child) {
    margin-top: 32px;
}

.header__submenu .container {
    display: flex;
    min-height: 350px;
}

.header__submenu-main {
    width: 65%;
    padding-bottom: 50px;
}

.header__submenu-right-wrapper {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    box-shadow: -2px 0px 4px 0 rgb(0 0 0 / 15%);
}

.header__submenu-right-content {
    width: 100%;
    height: calc(100% - 90px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: relative;

    color: #fff;
    line-height: 150%;
    background: url('../images/header-sub-bk-1.jpg.webp') center/cover no-repeat;
}

.header__submenu-right-content::before {
    content: ' ';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    
    background-color: #000;
    opacity: 0.2;
    z-index: 5;
}

.header__submenu-circle {
    width: 100px;
    height: 100px;
    position: absolute;
    border-radius: 50%;
    z-index: 6;
    top: -20%;

    background: url('../images/product-bkg.png') center/cover no-repeat;
}

.header__submenu-circle-mask {
    width: 120px;
    height: 120px;
    position: absolute;
    z-index: 7;
    top: -20%;

    background: url('../images/circle-violet.webp') center/cover no-repeat;
}

.header__submenu-h2 {
    z-index: 5;
    margin: 0 16px;

    font-size: var(--text-20);
    font-family: var(--bold);

    text-transform: uppercase;
    text-align: center;
    line-height: 150%;
}

.header__submenu-p {
    width: 80%;
    margin: 0 16px;
    z-index: 5;

    font-size: 16px;
    font-weight: bold;

    text-align: center; 
    line-height: 150%;
}

.header__submenu-right-content .common-white-btn {
    z-index: 5;
}


/* 2.1.MAIN NAV SUBMENU END */

/* 2.MAIN NAV MENU END */

/* 3.MAIN MOBILE MENU START */

.header__mobile-nav {
    display: none;

    background-color: #fff;
    box-shadow: var(--box-shadow);
}

.header__mobile-nav > .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
}

.header__mobile-nav .header__logo {
    width: 105px;
}

.header__mobile-burger-wrapper {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-right: -10px;

    font-size: 18px;

    cursor: pointer;
    background-color: transparent;
    border: 0px;
    color: var(--colored-4);
}

.header__mobile-burger {
    width: 30px;
    height: 22px;
    position: relative;

    cursor: pointer;
}

.header__mobile-burger-wrapper div:first-child {
    margin-right: 13px;
}

.header__mobile-burger::after,
.header__mobile-burger::before,
.header__mobile-burger span {
    position: absolute;
    left: 0;
    height: 2px;
    width: 100%;

    background-color: var(--colored-4);
    border-radius: 1px;
    transition: var(--animation);
}

.header__mobile-burger::before {
    content: ' ';
    top: 0;
}

.header__mobile-burger.-opened::before {
    transform: rotate(45deg);
    top: 10px;
}

.header__mobile-burger span {
    top: 50%;
    margin-top: -1px;
    cursor: pointer;
}


.header__mobile-burger.-opened span {
    opacity: 0;
}

.header__mobile-burger::after {
    content: ' ';
    bottom: 0;
}

.header__mobile-burger.-opened::after {
    transform: rotate(-45deg);
    bottom: 10px;
}


.header__mobile-menu,
.header__mobile-submenu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 390px;
    height: 100%;
    padding-top: 50px;
    z-index: -1;

    overflow: auto;
    overflow-x: hidden;
    background: #fff;
    box-shadow: var(--box-shadow);
    transition: all .5s ease-in-out;
}

.header__mobile-menu.-opened {
    right: 0;
}

.header__mobile-submenu.-opened {
    right: 0;
}

.header__mobile-submenu {
    z-index: 1;
}

.header__mobile-search {
    margin-top: 40px;
    width: 100%;
    padding: 10px 0;
    position: relative;

    border-bottom: 2px solid var(--lighter-text);
}

.header__mobile-search input {
    padding-left: 28px;
    padding-right: 10px;
    width: 100%;

    font-size: 18px;

    border: 0px solid transparent;
    color: var(--lighter-text);
}

.header__mobile-search input::placeholder {
    font-family: var(--light);
}

.header__mobile-search button {
    position: absolute;
    width: 24px;
    height: 100%;
    top: 0;
    left: 0;

    border: 0px solid transparent;
    background: url('../images/search.svg') center/100% no-repeat;
}

.header__mobile-menu ul {
    margin-top: 36px;
}

.header__mobile-main-list li {
    width: 100%;
    position: relative;
    height: 100%;

    font-size: 18px;

    color: var(--lighter-text);
    border-bottom: 1px solid var(--lighter-text);
    line-height: 150%;
}

.header__mobile-main-list .common-rigth-arrow {
    padding: 20px 0;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.header__mobile-menu ul li:last-child {
    border-bottom: 0px;
}

.header__mobile-menu .common-rigth-arrow::before {
    width: 30px;
    height: 20px;
}

.header__mobile-menu .common-border-btn {
    display: block;
    padding: 10px 15px;
}

.header__mobile-menu .common-link_grey-icon {
    margin-top: 55px;
    margin-bottom: 15px;
    display: flex;
    border-radius: 67px;
}

.header__mobile-menu .common-link_grey-icon::after {
    width: 22px;
}

.header__social-list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.header__social-list a {
    display: block;
    width: 35px;
    margin: 0 7px;
}

.header__social-list img {
    width: 100%;
}

/* 3.1.MODILE SUBMENU START */

.header__back-btn.common-rigth-arrow {
    position: absolute;
    justify-content: flex-end;
    top: 0;
    bottom: 0;
    left: 22px;

    transform: rotate(180deg);
}

.header__mobile-submenu-head {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0 30px;
    position: relative;
}

.header__mobile-submenu-head a {
    position: relative;

    font-size: 18px;

    color: #000;
    text-transform: uppercase;
}

.header__mobile-submenu-head a svg {
    display: block;
    width: 210px;
}

.header__mobile-info-box.container {
    margin-top: 10px;
    padding-top: 18px;
    padding-bottom: 18px;

    background: var(--colored-4);
}

.header__mobile-submenu-h2 {
    margin-bottom: 8px;

    font-size: 18px;
    font-family: var(--bold);

    text-transform: uppercase;
    color: #fff;
    text-align: center;
    line-height: 150%;
}

.header__mobile-submenu-p {
    margin-bottom: 8px;

    font-size: 16px;
    font-weight:bold;

    text-align: center;
    color: #fff;
    line-height: 150%;
}

.header__mobile-info-box a.common-border-btn {
    margin-top: 10px;

    color: #fff;
    border-color: #fff;
}

.header__mobile-info-box a.common-border-btn:hover {
    background-color: #fff;
    color: var(--lighter-text);
}

.header__mobile-submenu li a {
    margin: 20px 0;

    font-size: 16px;

    color: var(--lighter-text);
    line-height: 150%;
}


/* 3.1.MODILE SUBMENU END */

/* 3.MAIN MOBILE MENU END */

/* 4.MEDIA START */

/* 1025px */

@media (max-width: 1025px){
    .header__nav,
    .header__top {
        display: none;
    }

    .header__mobile-nav {
        display: block;
    }

}

/* 4.MEDIA END */